@model IEnumerable<SistemaPedidos.Models.Producto>

@{
    ViewBag.Title = "Index";
}
    <p></p>
<h2>Productos</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", "Productos", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadMedida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorNeto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadMedida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorNeto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CodigoProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.CodigoProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CodigoProducto })
        </td>
    </tr>
}

</table>
